<div class="main-image">
  <%= image_tag "grid.png" %>
  <div class="try-now">
    <%= link_to "Play Now", random_puzzles_path %>
  </div>
</div>

<div class="lower columns">
  <div class="small-12 small-centered columns">
    <h3>Welcome to Cross Reaction!</h3>
    <p>
      Cross Reaction is a modern browser-based interface for solving and creating crossword puzzles. The puzzles found here are community contributed. Tools are available to help first-time constructors and pros alike build puzzles to share.
      You'll get the most out of this site by signing in so that we can save your solutions and drafts.
    </p>
    <br>
    <p>
      This app was built by Andrew Rogers while at Launch Academy.
    </p>
    <a href="https://github.com/andrewprogers/crossword-react-on-rails">
      <%= image_tag 'github_mark.png' %>
    </a>
    <a href="https://www.linkedin.com/in/andrew-paul-rogers/">
      <%= image_tag 'linked_in_mark.png', width: "32px" %>
    </a>

  </div>
</div>
