.main-image {
  position: relative;
  max-height: 1000px;
  margin: auto;
  overflow: hidden;
  border-bottom: 5px solid #FFD658;
}

.main-image img {
  display: block;
  margin: auto;
  opacity: 0.3;
  min-height: 400px;
  min-width: 781px;
}

.try-now {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.try-now a {
  font-size: 2.4em;
  display: inline-block;
  padding: 2% 4%;
  background-color: rgba(255, 214, 88, 0.83);
  border: 2px solid #FFD658;
  color: black;
  box-shadow: 5px 5px 14px 0px grey;
  transition: all 0.3s ease;
}

.try-now a:hover {
  display: inline-block;
  padding: 2% 4%;
  background-color: #FFD658;
  border: 2px solid #FFD658;
  color: black;
  box-shadow: 8px 8px 14px 0px grey;
}

div.lower {
  background-color: #FFD658;
  padding: 30px 0px;
}

.lower div {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
}
