body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.App ::selection {
  background: none;
}

#crossword-container .row{
  margin-left: 0;
  margin-right: 0;
}


.scale-container {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

#grid-container {
  border: 1px solid #444;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}

#grid-container .cell {
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  width: 10%;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  padding-top: 0px;
}

.shaded {
  background-color: #222;
}

.cell-number {
  position: absolute;
  padding-top: 0.2%;
  padding-left: 0.3%;

  text-align: left;
  font-size: 0.3em;
  color: #444;
}

.cell-letter {
  padding: 0;
  padding-top: 20%;
  margin: 0px 0px -100px 0px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  box-shadow: none;
  font-size: inherit;
  transition: none;
  text-align: center;
  cursor: default;
  color: #444;
}

.revealedLetter .cell-letter {
  color: #CF4332;
}

.revealedLetter .cell-letter:focus {
  text-shadow: 0 0 0 #CF4332;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cell-letter:focus {
  outline: none;
  background-color: inherit;
  border: none;
  box-shadow: none;
  transition: none;
  outline-offset: 0px;
  color: transparent;
  text-shadow: 0 0 0 #444;
}

.selectedClue {
  background-color: #FFD658;
}

.selectedCell.selectedClue {
  background-color: #FFA985;
}


/*-------------*/
#clues-container {
  margin-top: 5px;
}

#clues-container .columns {
  padding: 0px 5px;
}

.clue-box {
  border: 3px solid #FFEAA8;
  color: #444;
  padding: 1%;
  margin-bottom: 10px;
  background-color: #FFEAA8;
  cursor: default;
}

.selected-clues {
  border-color: #F4B905;
  color: black;
}

.selected-clues .selected {
  border-bottom: 2px solid rgb(255, 99, 32);
}

.clues {
  font-size: 0.9em;
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

.clue-box h3 {
  padding-left: 5px;
}

.clues ul {
  margin-left: 0;
}

.clues li {
  list-style: none;
  padding-left: 5px;
  border-bottom: 2px solid #FFEAA8;
}

/*-------------*/
#puzzle-menu {
  border: 0px solid #444;
  background-color: #EEE;
  margin: 5px 0px;
  padding: 5px 0px;
  min-height: 150px;
}

/*-------------*/
.menu-button {
  border-radius: 80px;
  margin-right: 5px;
  position: relative;
  display: inline-block;
  background-color: #FFF;
  border: 1px solid #444;
  width: 80px;
  height: 80px;
  transition: all 0.5s ease;
}

.menu-name {
  position: absolute;
  top: 27px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: #444;
}

.menu-button:hover {
  background-color: #444;
}

.menu-button:hover .menu-name {
  color: white;
}

.menu-button:active {
  border-color: white;
}

/*-------------*/

div#puzzle-title {
  margin: 5px;
  margin-left: 0px;
  padding-left: 0px;
}

#title-input {
  width: 100%;
  display: inline;
  border: none;
  border-bottom: 2px solid #FFD658;
  background-color: inherit;
  margin-left: 0px;
  margin-bottom: 5px;
  box-shadow: none;
  font-size: 2em;
  padding: 10px 0px;
}

#title-input:focus {
  color: transparent;
  text-shadow: 0 0 0 black;
}

input#title-input.editable {
}

input#title-input.editable::selection {
  background: rgba(255, 214, 88, 0.7);
}

#title-input.editable:focus {
  color: black;
}

/*-------------*/

#info-container {
  margin-left: -5px;
  font-size: 14px;
  color: #444;
}

#info-container .title {
  font-weight: bold;
  font-size: 16px;
}

#info-container .words {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  max-height: 140px;
  overflow: scroll;
}

#info-container .words ul {
  list-style: none;
  margin: 0;
}

/*-------------*/

.clue-editor-row .clue-gridnum {
  font-family: courier, monospace;
}

.clue-editor-row input {
  background-color: inherit;
  width: 80%;
  border: none;
  padding-left: 2em;
  margin-left: -1.7em;
}

.clue-editor-row input:focus {
  outline: none;
  border-bottom: 1px solid #FFD658;
}

.clue-editor-row input::selection {
  background: rgba(255, 214, 88, 0.7);
}
